@import url(satoshi.css);

:root{
    --prim-color: rgb(67,242,13);
    --bg-accent-1: rgb(228, 228, 228);
    --bg-accent-1-dark: rgb(207, 207, 207);
}
body::-webkit-scrollbar{
    display: none; /*Hides the Scroll bars*/
}
.normal_fs{
    font-size: 15px;
}
.h1_fs{
font-size: 10vw;
}

/* ? ===============MAIN===============*/
*{
    font-family: Satoshi-Medium;
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    margin-top: 20px;
}
main h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
main h1::first-letter {
    color: var(--prim-color);
}
main h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2;
}
input, input:focus, input:active {
    border: none;
}
textarea, textarea:focus, textarea:active {
    border: none;
    resize: none;
}

/*----------------Main-Driver_List----------------*/
.main_drivers h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
.main_drivers h1::first-letter {
    color: var(--prim-color);
}
.main_drivers h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2;
}
.main_drivers .driver_list{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 73px;
    gap: 10px;
}
.main_drivers .driver_list .driver_item{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    border-radius: 12px;
    background-color: var(--bg-accent-1);
    box-shadow:
    inset 0px -4px 0px var(--bg-accent-1-dark);
    overflow: hidden;
}
.main_drivers .driver_list .driver_item img{
    height: 73px;
}

.main_drivers .driver_list .driver_item .top{
    display: flex;
    justify-content: space-between;
    height: max-content;
    background-color: red;
}
.main_drivers .driver_list .driver_item .top .driver_name{
    font-weight: bold;
}

/*----------------Main-package-List----------------*/
.main_package h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
.main_package h1::first-letter {
    color: var(--prim-color);
}
.main_package h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2;
}

.main_package .package_list{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 200px;
}
.main_package .package_item{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 10px 10px;
    /* overflow: hidden; */

    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
}
.main_package .package_item img{
    display: block;
    position: relative;
    width: 100%;
}
.main_package .package-item .title{
    display: block;
    color: rgb(0, 0, 0);
    margin-left: 4px;
}

/*----------------Main-new-package-List----------------*/
.main_new_package .new_package_list{
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 200px 30px 100px 200px;
    gap: 12px;
}
.main_new_package .input_title_item{
    position: relative;
}
.main_new_package .input_title_item form{
    height: 30px;
    width: 100%;
}
.main_new_package .input_title_item input{
    height: 30px;
    width: 100%;
    background: rgb(238, 238, 238);
}
.main_new_package .input_title_item input::placeholder{
    text-align: center;
}

.main_new_package .input_content_item{
    position: relative;
}
.main_new_package .input_content_item form{
    width: 100%;
    height: 90px;
}
.main_new_package .input_content_item textarea{
    height: 100%;
    width: 100%;
    background: rgb(238, 238, 238);
}
.main_new_package .input_content_item textarea::placeholder{
    text-align: center;
    padding-top: 36px;
}


.new_package_item{
    display: block;
    height: 100%;
    border-radius: 5px;
    /* outline: red 2px solid; */
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    outline: 2px solid rgb(206, 206, 206);
}