@import url(satoshi.css);

:root{
    --prim-color: rgb(67,242,13);
    --prim-color-ver2: rgb(138, 233, 29);
    --prim-color-lighter: rgb(115, 255, 0);
    --prim-color-dark: rgb(55, 190, 14);
    --prim-color-darker: rgb(39, 139, 9);
    --chat-color-own: rgb(202, 243, 190);
    --chat-color-other: rgb(87, 189, 56);
    --chat-color-time: rgb(134, 134, 134);

    --bg-accent-1: rgb(228, 228, 228);
    --bg-accent-1-dark: rgb(207, 207, 207);
}
body::-webkit-scrollbar{
    display: none; /*Hides the Scroll bars*/
}
.normal_fs{
    font-size: 18px;
}
.larger_fs{
    font-size: 22px;
}
.h1_fs{
    font-size: 10vw;
}
.h2_fs{
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* ? ===============MAIN===============*/
*{
    font-family: Satoshi-Medium;
}
body{
    background-color: rgb(255, 255, 255);
}
main{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
main h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
main h1::first-letter {
    color: var(--prim-color);
}
main h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2px;
}
input, input:focus, input:active {
    border: none;
}
textarea, textarea:focus, textarea:active {
    border: none;
    resize: none;
}
button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

/* TODO ------------------- DRIVER ------------------- */
/*----------------Main-Driver_List----------------*/
.main_drivers h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
.main_drivers h1::first-letter {
    color: var(--prim-color);
}
.main_drivers h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2;
}
.main_drivers .driver_list{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 73px;
    gap: 10px;
}
.main_drivers .driver_list .driver_item{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    border-radius: 12px;
    background-color: var(--bg-accent-1);
    box-shadow:
    inset 0px -4px 0px var(--bg-accent-1-dark);
    overflow: hidden;
}
.main_drivers .driver_list .driver_item img{
    height: 73px;
}

.main_drivers .driver_list .driver_item .top{
    display: flex;
    justify-content: space-between;
    height: max-content;
    background-color: red;
}
.main_drivers .driver_list .driver_item .top .driver_name{
    font-weight: bold;
}

/* TODO ------------------- PACKAGE ------------------- */
/*----------------Main-package-List----------------*/
.main_package h1{
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 13px;
}
.main_package h1::first-letter {
    color: var(--prim-color);
}
.main_package h1::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, var(--prim-color), transparent);
    bottom: 2;
}

.main_package .package_list{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 200px;
}
.main_package .package_item{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 10px 10px;
    /* overflow: hidden; */

    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
}
.main_package .package_item img{
    display: block;
    position: relative;
    width: 100%;
}

/* TODO ------------------- NEW PACKAGE ------------------- */
/*----------------Main-new-package-List----------------*/
.main_new_package .new_package_list{
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 200px 30px 100px 250px;
    gap: 16px;
}
.main_new_package .input_title_item{
    position: relative;
}
.main_new_package .input_title_item form{
    height: 30px;
    width: 100%;
}
.main_new_package .input_title_item input{
    height: 30px;
    width: 100%;
    background: rgb(238, 238, 238);
}
.main_new_package .input_title_item input::placeholder{
    text-align: center;
}

.main_new_package .input_content_item{
    position: relative;
}
.main_new_package .input_content_item form{
    width: 100%;
    height: 90px;
}
.main_new_package .input_content_item textarea{
    height: 111%;
    width: 100%;
    background: rgb(238, 238, 238);
}
.main_new_package .input_content_item textarea::placeholder{
    text-align: center;
    padding-top: 36px;
}

.input_image_item{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input_image_item p{
    display: inline-block;
    position: relative;
    top: 68px;
    color: rgb(107, 107, 107);
    text-align: center;
}
.input_image_item img{
    position: relative;
    top: 80px;
    width: 40px;
}

/* * ----------------Main-new-package-List NESTED----------------*/
.main_new_package .nested_input_main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 29px 31px 31px 90px;
}
.main_new_package .nested_input_main .nested_input_item_container{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main_new_package .nested_input_main .nested_input_item_container .h2c{
    margin-left: 7px;
    margin-right: 0px;
    margin-top: 17px;
}
.main_new_package .nested_input_main .nested_input_item_container form{
    display: flex;
    position: relative;
    margin-left: 7px;
    margin-right: 0px;
    margin-top: 15px;

    /* outline: blue 2px dotted; */
}
.main_new_package .nested_input_main .nested_input_item_container input{
    background: rgb(219, 219, 219);
    border-radius: 5px;
}

.main_new_package .nested_input_item_container .l_r_grid{
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    grid-template-columns: 28% 1fr;
    grid-template-rows: 100%;
}


.main_new_package .nested_input_item_container .l_r_grid .l_r_grid_item{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main_new_package .nested_input_item_container .l_r_grid .l_r_grid_item label{
    margin-left: 7px;
}
.main_new_package .nested_input_item_container .l_r_grid .l_r_grid_item form{
    width: 92%;
}
.main_new_package .nested_input_item_container .l_r_grid .l_r_grid_item form input{
    width: 100%;
    outline: rgb(197, 196, 196) 2px solid;
}

.main_new_package .item_important_info_grid{
    display: grid;
    width: 100%;
    height: 166%;
    grid-template-columns: 100%;
    grid-template-rows: 37px 1fr;
}

.main_new_package .item_important_info_grid .item_important_info_grid_item{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    /* outline: pink 3px solid; */
}
.main_new_package .item_important_info_grid_item form{
    align-items: start;
    text-align: left;
    margin: 0;
    background-color: rgb(223, 223, 223);
    width: 94.7%;
    margin-left: 2%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px rgb(197, 196, 196) solid;
}
.main_new_package .item_important_info_grid_item form input{
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 100%;
}
.item_important_info_grid_item h2{
    margin: 0;
    margin-left: 6px;
    margin-right: 0px;
    margin-top: 10px;
}
.main_new_package .new_package_btn_container{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    margin-top: 20px;
}
.main_new_package .new_package_btn{
    display: flex;
    align-items: center;
    margin: 0;
    background-color: var(--prim-color);
    padding: 18px;
    padding-left: 14px;
    padding-right: 54px;
    color: rgb(25, 59, 15);
    font-weight: bold;
    letter-spacing: 0.3px;
    border-radius: 20px;
    box-shadow:
    -3.5px -3.5px 0px inset var(--prim-color-dark),
    3.5px 3.5px 0px inset var(--prim-color-lighter);
    transition: transform 0.06s;

    margin-bottom: 50px;
}
.main_new_package .new_package_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: transparent;
}
.main_new_package .new_package_btn:active::before{
    background-color: rgba(0, 0, 0, 0.055);
}
.main_new_package .new_package_btn:active{
    transform: scale(0.95);
}
.main_new_package .new_package_btn img{
    position: absolute;
    right: 15px;
    top: 12px;
    width: 40px;
}

.new_package_item{
    display: block;
    height: 100%;
    border-radius: 5px;
    /* outline: red 2px solid; */
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px rgb(175, 175, 175);
    outline: 2px solid rgb(206, 206, 206);
}
.line{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: hsl(0, 0%, 84%);
    margin: 0;
    margin-top: 5px;
}

/* TODO ------------------- Chat ------------------- */
.chat_main{
    position: relative;
    margin-top: 75px;
}
.chat_main .chat_history_grid{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 100px;
}
.chat_bubble_container{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}
.chat_bubble_container .chat_bubble{
    width: max-content;
    margin: 10px;

}
.l_bubble_container{
    justify-content: start;
}
.l_bubble_container .l_bubble{
    color: white;
}
.l_bubble_container .l_bubble_tri{
    position: absolute;
    top: 13.4px;
}    
.l_bubble_container .l_chat_text{
    background-color: var(--chat-color-other);
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 12px;
    padding-left: 12px;
}
.l_bubble_container .chat_time_container{
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: 0;
}
.l_bubble_container .chat_time_container{
    margin: 0;
    margin-top: 7px;
    font-size: small;
    color: var(--chat-color-time);
}

.r_bubble_container{
    justify-content: end;
}
.r_bubble_container .r_bubble_tri{
    position: absolute;
    top: 13.4px;
}    
.r_bubble_container .r_chat_text{
    background-color: var(--chat-color-own);
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 12px;
    padding-left: 12px;
}
.r_bubble_container .chat_time_container{
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;
    height: 20px;
    width: 100%;
    margin: 0;
}
.r_bubble_container .chat_time_container{
    margin: 0;
    margin-top: 7px;
    font-size: small;
    color: var(--chat-color-time);
}

/* * --------------- Chat Nav --------------- */
.chat_name{
    display: grid;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 35px;
    grid-template-columns: 35px 1fr;
    gap: 12px;
    grid-template-rows: 100%;
    background-color: var(--prim-color-dark);
    justify-content: center;
    box-shadow: 0px 4px 0px var(--prim-color-darker);
}
.chat_main .chat_name .arrow img{
    width: 35px;
}
/* * NESTED */
.nested_info_grid{
    display: grid;
    position: relative;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
}
.nested_info_grid .name_container{
    display: flex;
    position: relative;
    align-items: center;
}
.chat_name .nested_info_grid .nested_chat_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 100%;
}
.chat_name .nested_info_grid .nested_chat_img_container img{
    border-radius: 10000px;
    width: 100%;
}
.nested_info_grid .name_container .name{
    color: white;
}
.nested_info_grid .name_container h2{
    margin: 0;
    margin-left: 8px;
}